dev_addr: '127.0.0.1:8001'
edit_uri: edit/main/docs
site_dir: site/docs
site_name: Aerleon Documentation
site_url: 'https://aerleon.readthedocs.io/en/latest/'
repo_url: 'https://github.com/aerleon/aerleon'
copyright: Copyright &copy; The Authors
theme: readthedocs
extra:
  generator: false
  social:
    - icon: fontawesome/brands/slack
      link: 'https://aerleon.slack.com/'
      name: Network to Code Community
    - icon: fontawesome/brands/slack
      link: 'https://slack.networktocode.com/'
      name: Network to Code Community
    - icon: fontawesome/brands/github
      link: 'https://github.com/aerleon'
      name: GitHub Organization
    - icon: fontawesome/brands/twitter
      link: 'https://twitter.com/<tbd>'
      name: <Aerleon> Twitter
markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - footnotes
plugins:
  - search
  - mkdocs-version-annotations
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths:
            - .
          options:
            show_root_heading: true
            heading_level: 2
            show_category_heading: true
nav:
  - Introduction: index.md
  - Install and Configure: install.md
  - Getting Started: getting_started.md
  - Using the API: api.md
  - Frequently Asked Questions: faq.md
  - Contributing: contributing.md
  - Links: links.md
  - Reference:
      - CLI Reference: reference/cli.md
      - Generator Development: reference/generator_patterns.md
      - Naming: reference/naming.md
      - common: user/generators/common.md
      - arista: user/generators/arista.md
      - arista_tp: user/generators/arista_tp.md
      - aruba: user/generators/aruba.md
      - brocade: user/generators/brocade.md
      - cisco: user/generators/cisco.md
      - ciscoasa: user/generators/ciscoasa.md
      - cisconx: user/generators/cisconx.md
      - ciscoxr: user/generators/ciscoxr.md
      - gce: user/generators/gce.md
      - ipset: user/generators/ipset.md
      - iptables: user/generators/iptables.md
      - juniper: user/generators/juniper.md
      - juniperevo: user/generators/juniperevo.md
      - junipermsmpc: user/generators/junipermsmpc.md
      - junipersrx: user/generators/junipersrx.md
      - k8s: user/generators/k8s.md
      - nftables: user/generators/nftables.md
      - nsxv: user/generators/nsxv.md
      - packetfilter: user/generators/packetfilter.md
      - paloaltofw: user/generators/paloaltofw.md
      - pcap: user/generators/pcap.md
      - speedway: user/generators/speedway.md
      - srxlo: user/generators/srxlo.md
      - windows_advfirewall: user/generators/windows_advfirewall.md
      - windows_ipsec: user/generators/windows_ipsec.md

