name: test

on:
  - "push"
  - "pull_request"

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.7 3.8 3.9 3.10]

    steps:
    - name: Checkout branch with changes
      uses: actions/checkout@v2
      with:
        path: current
    - name: Checkout main branch
      uses: actions/checkout@v2
      with:
        path: main
        ref: main
    - name: "Install Poetry"
      run: "curl -sSL https://install.python-poetry.org | python -"
      shell: "bash"
    - name: "Add poetry to bin"
      run: "ln -s /root/.local/bin/poetry /usr/local/bin/poetry"
    - name: Install Dependencies
      run: poetry install
