name: Release Dry Run
on:
  workflow_dispatch:
jobs:
  build:
    name: Build and sign artifacts
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0
      - uses: actions/setup-python@5ccb29d8773c3f3f653e1705f474dfaa8a06a912 # v4.4.0
        with:
          python-version: "3.13"
      - name: deps
        run: |
          python -m pip install -U build
          python -m pip install -U sigstore
      - name: build
        run: python -m build
      - name: sign
        run: |
          mkdir -p smoketest-artifacts

          # we smoke-test sigstore by installing each of the distributions
          # we've built in a fresh environment and using each to sign and
          # verify for itself, using the ambient OIDC identity
          for dist in dist/*; do
            dist_base="$(basename "${dist}")"

            python -m venv smoketest-env

            ./smoketest-env/bin/python -m pip install "${dist}"
            ./smoketest-env/bin/python -m pip install sigstore

            # NOTE: signing artifacts currently go in a separate directory,
            # to avoid confusing the package uploader (which otherwise tries
            # to upload them to PyPI and fails). Future versions of twine
            # and the gh-action-pypi-publish action should support these artifacts.
            ./smoketest-env/bin/python -m \
              sigstore sign "${dist}" \
              --output-signature smoketest-artifacts/"${dist_base}.sig" \
              --output-certificate smoketest-artifacts/"${dist_base}.crt"

            ./smoketest-env/bin/python -m \
              sigstore verify identity "${dist}" \
              --cert "smoketest-artifacts/${dist_base}.crt" \
              --signature "smoketest-artifacts/${dist_base}.sig" \
              --cert-oidc-issuer https://token.actions.githubusercontent.com \
              --cert-identity ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/.github/workflows/release.yml@${GITHUB_REF}

            rm -rf smoketest-env
          done
      - name: Generate hashes for provenance
        shell: bash
        id: hash
        run: |
          # sha256sum generates sha256 hash for all artifacts.
          # base64 -w0 encodes to base64 and outputs on a single line.
          # sha256sum artifact1 artifact2 ... | base64 -w0
          echo "hashes=$(sha256sum ./dist/* | base64 -w0)" >> $GITHUB_OUTPUT

      - name: Upload built packages
        uses: actions/upload-artifact@v4
        with:
          name: built-packages
          path: ./dist/
          if-no-files-found: warn
  generate-provenance:
    needs: [build]
    name: Generate build provenance
    permissions:
      actions: read   # To read the workflow path.
      id-token: write # To sign the provenance.
      contents: write # To add assets to a release.
    # Currently this action needs to be referred by tag. More details at:
    # https://github.com/slsa-framework/slsa-github-generator#verification-of-provenance
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      provenance-name: provenance-sigstore-${{ github.event.release.tag_name }}.intoto.jsonl
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      upload-assets: true
  release-pypi:
    needs: [build, generate-provenance]
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Download artifacts directories # goes to current working directory
        uses: actions/download-artifact@v4
      - name: Remove signature # pypi will not ignore the signatures anymore and does not support them.
        run: rm -f built-packages/aerleon-*.sigstore
      - name: Remove signature json
        run: rm -f built-packages/aerleon-*.sigstore.json
      - name: publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          # password: ${{ secrets.PYPI_TOKEN }}
          password: "force-auth-fail"
          packages_dir: built-packages/
